<div>
    {{#each album}}
    <div>
        <div class="albums-covers">
            <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        </div>
        <div class="albums-names">
            <h2>{{this.name}}</h2>
        </div>
        <div class="albums-btn">
            <a href="/albums/{{this.id}}/tracks">View Tracks</a>
        </div>
    </div>
    {{/each}}
</div> 